<h4 class="heading">Search Permit</h4>
<form>
    <fieldset id="fieldset">
        <div class="permit">
            <p>
                <label for="permit">Permit#</label><br>
                <input type="text" name="permit" id="permit">
            </p>
        </div>
    </fieldset>
    <fieldset class="fieldset1">
        <div class="add-new-permit">
            <a href="#"><button class="new_permit" mat-button>Add Permit</button></a>
            <a href="#"><button class="edit_owners" mat-button>Edit Owner(s)</button></a>
            <a href="#"><button class="edit_property" mat-button>Edit Property</button></a>
        </div>
    </fieldset>
    <br>
    <div class="fieldset2">
    <fieldset>
        <h4>360 Property View</h4>
        <div class="service-views">
        <ul>
            <li class="service"><a href="#">Service Requests</a></li>
            <hr>
            <li><a href="#">Inspections</a></li>
            <hr>
            <li><a href="#">Violations</a></li>
            <hr>
            <li><a href="#">Invoices</a></li>
            <hr>
            <li><a href="#">Business Licenses</a></li>
        </ul>
        </div>
    </fieldset>
    </div>
</form>

