<h4 class="heading">Search Service Request</h4>
<form>
    <fieldset id="fieldset">
        <div class="street_number">
        <p>
            <label for="street_number">Street Number</label><br>
            <input type="text" name="street_number" id="street_number">
        </p>
        </div>
        <div class="street_name">
        <p>
            <label for="street_name">Street Name</label><br>
            <input type="text" name="street_name" id="street_name">
        </p>
        </div>
        <div class="location">
        <p>
            <label for="location">Location</label><br>
            <input type="text" name="location" id="location">
        </p>
        </div>
        <div class="city">
        <p>
            <label for="city">City</label><br>
            <input type="text" name="city" id="city" value="Matteson">
        </p>
        </div>
        <div class="owner">
        <p>
            <label for="owner">Owner</label><br>
            <input type="text" name="owner" id="owner">
        </p>
        </div>
        <div class="status">
        <p>
            <label for="status">Status</label><br>
            <input type="text" name="status" id="status">
        </p>
        </div>
        <div class="service_request">
        <p>
            <label for="service_request">Service Request#</label><br>
            <input type="text" name="service_request" id="service_request">
        </p>
        </div>
        <div class="department">
        <p>
            <label for="department">Department</label><br>
            <input type="text" name="department" id="department">
        </p>
        </div>
</fieldset>
<fieldset class="fieldset1">
    <div class="add-new-service">
        <a href="#"><button class="new_service" mat-button>Add New Service Request</button></a>
    </div>
        <button mat-button class="search">Search</button>
        <button mat-button class="clear">Clear</button>
</fieldset>
<br>
<br>
<fieldset class="fieldset2">
    <h4>360 Property View</h4>
    <div class="service-views">
    <ul>
        <li class="permits"><a href="#">Permits</a></li>
        <hr>
        <li><a href="#">Inspections</a></li>
        <hr>
        <li><a href="#">Violations</a></li>
        <hr>
        <li><a href="#">Invoices</a></li>
        <hr>
        <li><a href="#">Business Licenses</a></li>
    </ul>
    </div>
</fieldset>
</form>

