<mat-toolbar class="mat-toolbar"> 
    <a href="#" mat-button class="atteson"><mat-icon>apartment</mat-icon><br>Atteson</a>
    <div class="dropdown-people">
    <a href="#" mat-button class="people" data-toggle="dropdown" id="mydropdown"><mat-icon>badge</mat-icon><br>People/Business<br><mat-icon>arrow_drop_down</mat-icon></a>
    <div class="dropdown-content-people">
        <div class="dropdown-people-search">
        <a href="#">Search <div class="arrow">➤</div></a>
        <div class="dropdown-content-people-search">
            <a href="#">Service Provider</a>
        </div>
        </div>
        <div class="dropdown-people-new">
        <a href="#">New <div class="arrow">➤</div></a>
        <div class="dropdown-content-people-new">
            <a href="#">Service Provider</a>
        </div>
        </div>
    </div>
    </div>
    <div class="dropdown-property">
    <a href="#" mat-button class="property"><mat-icon>home_work</mat-icon><br>Property<br><mat-icon>arrow_drop_down</mat-icon></a>
    <div class="dropdown-content-property">
        <div class="dropdown-property-search">
        <a href="#">Search <div class="arrow">➤</div></a>
        <div class="dropdown-content-property-search">
            <a href="#">Property</a>
            <a href="#">Permit</a>
            <a href="#">Service Request</a>
            <a href="#">Inspection</a>
            <a href="#">Business License</a>
        </div>
        </div>
        <div class="dropdown-property-new">
        <a href="#">New <div class="arrow">➤</div></a>
        <div class="dropdown-content-property-new">
            <a href="#">Property</a>
            <a href="#">Permit</a>
            <a href="#">Service Request</a>
            <div class="dropdown-property-new-inspection">
            <a href="#">Inspection <div class="arrow">➤</div></a>
            <div class="dropdown-content-property-new-inspection">
                <a href="#">Service Request</a>
                <a href="#">Real Estate</a>
                <a href="#">Rental</a>
                <a href="#">General</a>
            </div>
            </div>
            <a href="#">Business License</a>
        </div>
        </div>
    </div>
    </div>
    <div class="dropdown-vehicle">
    <a href="#" mat-button class="vehicle"><mat-icon>commute</mat-icon><br>Vehicle<br><mat-icon>arrow_drop_down</mat-icon></a>
    <div class="dropdown-content-vehicle">
        <div class="dropdown-vehicle-search">
        <a href="#">Search <div class="arrow">➤</div></a>
        <div class="dropdown-content-vehicle-search">
            <a href="#">Sticker</a>
            <a href="#">Exemption</a>
        </div>
        </div>
        <div class="dropdown-vehicle-new">
        <a href="#">New <div class="arrow">➤</div></a>
        <div class="dropdown-content-vehicle-new">
            <a href="#">Sticker</a>
            <a href="#">Exemption</a>
        </div>
        </div>
    </div>
    </div>
    <div class="dropdown-violation">
    <a href="#" mat-button class="violation"><mat-icon>construction<br></mat-icon><br>Violation<br><mat-icon>arrow_drop_down</mat-icon></a>
    <div class="dropdown-content-violation">
        <div class="dropdown-violation-search">
        <a href="#">Search <div class="arrow">➤</div></a>
        <div class="dropdown-content-violation-search">
            <a href="#">Violation</a>
            <a href="#">Docket</a>
        </div>
        </div>
        <div class="dropdown-violation-new">
        <a href="#">New <div class="arrow">➤</div></a>
        <div class="dropdown-content-violation-new">
            <a href="#">Parking</a>
            <a href="#">Compliance</a>
            <a href="#">Local Ordinance</a>
            <a href="#">Building Code</a>
            <a href="#">Tow</a>
        </div>
        </div>
        <div class="dropdown-violation-bulk_update">
        <a href="#">Bulk Update <div class="arrow">➤</div></a>
        <div class="dropdown-content-violation-bulk_update">
            <a href="#">Hearing Results</a>
            <a href="#">General</a>
        </div>
        </div>
        <a href="#">Run Daily Process</a>
        <a href="#">Collection Export</a>
        <a href="#">Expunge</a>
        <a href="#">Boot/Tow</a>
        <a href="#">Payment Import</a>
    </div>
    </div>
    <div class="dropdown-report">
    <a href="#" mat-button class="report"><mat-icon>summarize</mat-icon><br>Report/Notice<br><mat-icon>arrow_drop_down</mat-icon></a>
    <div class="dropdown-content-report">
        <a href="#">Notice</a>
        <div class="dropdown-report-report">
        <a href="#">Report <div class="arrow">➤</div></a>
        <div class="dropdown-content-report-report">
            <a href="#">Admin/Metrics</a>
            <a href="#">Business and People</a>
            <a href="#">Finance</a>
            <a href="#">Property</a>
            <a href="#">Vehicle</a>
            <a href="#">Violation</a>
            <a href="#">Print Inspector Schedule</a>
            <a href="#">Post Hearing Docket</a>
            <a href="#">Violation History</a>
        </div>
        </div>
        <a href="#">Audit Trial</a>
    </div>
    </div>
    <div class="dropdown-setup">
    <a href="#" mat-button class="setup"><mat-icon>settings</mat-icon><br>Setup<br><mat-icon>arrow_drop_down</mat-icon></a>
    <div class="dropdown-content-setup">
        <div class="dropdown-setup-user">
        <a href="#">User <div class="arrow">➤</div></a>
        <div class="dropdown-content-setup-user">
            <a href="#">Role & Permission</a>
            <a href="#">System Users</a>
        </div>
        </div>
        <div class="dropdown-setup-property">
        <a href="#">Property <div class="arrow">➤</div></a>
        <div class="dropdown-content-setup-property">
            <a href="#">Contractor License</a>
            <a href="#">Data Setup</a>
        </div>
        </div>
        <div class="dropdown-setup-configuration">
        <a href="#">Configuration <div class="arrow">➤</div></a>
        <div class="dropdown-content-setup-configuration">
            <a href="#">Auto Assign Numbers</a>
            <a href="#">General</a>
            <a href="#">Resident Message</a>
            <a href="#">System Link</a>
            <a href="#">Collection Setup</a>
        </div>
        </div>
        <div class="dropdown-setup-inspection">
        <a href="#">Inspection <div class="arrow">➤</div></a>
        <div class="dropdown-content-setup-inspection">
            <a href="#">Inspection Types</a>
        </div>
        </div>
        <div class="dropdown-setup-permit">
        <a href="#">Permit <div class="arrow">➤</div></a>
        <div class="dropdown-content-setup-permit">
            <a href="#">Permit Types</a>
        </div>
        </div>
        <div class="dropdown-setup-violation">
        <a href="#">Violation <div class="arrow">➤</div></a>
        <div class="dropdown-content-setup-violation">
            <a href="#">Hearing Date</a>
            <a href="#">Hearing Officer</a>
            <a href="#">Fine Class</a>
            <a href="#">Offense</a>
            <a href="#">Violation Workflow</a>
        </div>
        </div>
        <div class="dropdown-setup-document">
        <a href="#">Document <div class="arrow">➤</div></a>
        <div class="dropdown-content-setup-document">
            <a href="#">Template</a>
            <a href="#">Document Map</a>
        </div>
        </div>
        <a href="#">Report</a>
        <div class="dropdown-setup-exemption">
        <a href="#">Exemption <div class="arrow">➤</div></a>
        <div class="dropdown-content-setup-exemption">
            <a href="#">Exemptions Form Setup</a>
            <a href="#">Exemptions Limit</a>
            <a href="#">Custom Events & Holidays</a>
        </div>
        </div>
        <div class="dropdown-setup-business_license">
        <a href="#">Business License <div class="arrow">➤</div></a>
        <div class="dropdown-content-setup-business_license">
            <a href="#">Fee Setup</a>
            <a href="#">Form</a>
            <a href="#">Task</a>
            <a href="#">Work Flow</a>
        </div>
        </div>
        <a href="#">Data Maintenance</a>
    </div>
    </div>
    <p class="login">Logged in as:</p><a href="#" mat-raised-button class="admin">Admin Admin</a>
    <div id="calendar">
    <a href="#" mat-button class="calendar"><mat-icon>edit_calendar</mat-icon></a>
    </div>
    <a href="#" mat-button class="shopping"><mat-icon>shopping_cart</mat-icon></a>
    <p class="dollar">$0.00</p>
    <a href="#" mat-raised-button class="logout">Logout</a>
</mat-toolbar>