<mat-toolbar class="mat-toolbar"> 
    <a href="#" mat-button class="atteson"><mat-icon>apartment</mat-icon><br>Matteson</a>
    <div class="dropdown-people">
    <a href="#" mat-button class="people" data-toggle="dropdown" id="mydropdown"><mat-icon>badge</mat-icon><br>People/Business<br><mat-icon>arrow_drop_down</mat-icon></a>
    <div class="dropdown-content-people">
        <div class="dropdown-people-search">
        <a href="#">Search <div class="arrow">➤</div></a>
        <div class="dropdown-bala">
        <div class="dropdown-content-people-search">
            <a routerLink="people-search-service" routerLinkActive="active">Service Provider</a>
        </div>
        </div>
        </div>
        <div class="dropdown-people-new">
        <a href="#">New <div class="arrow">➤</div></a>
        <div class="dropdown-bala">
        <div class="dropdown-content-people-new">
            <a routerLink="people-new-service" routerLinkActive="active">Service Provider</a>
        </div>
        </div>
        </div>
    </div>
    </div>
    <div class="dropdown-property">
    <a href="#" mat-button class="property"><mat-icon>home_work</mat-icon><br>Property<br><mat-icon>arrow_drop_down</mat-icon></a>
    <div class="dropdown-content-property">
        <div class="dropdown-property-search">
        <a href="#">Search <div class="arrow">➤</div></a>
        <div class="dropdown-bala">
        <div class="dropdown-content-property-search" routerLinkActive="active">
            <a routerLink="property-search-property" routerLinkActive="active">Property</a>
            <a routerLink="property-search-permit" routerLinkActive="active">Permit</a>
            <a routerLink="property-search-service" routerLinkActive="active">Service Request</a>
            <a routerLink="property-search-inspection" routerLinkActive="active">Inspection</a>
            <a routerLink="property-search-business" routerLinkActive="active">Business License</a>
        </div>
        </div> 
        </div>
        <div class="dropdown-property-new">
        <a href="#">New <div class="arrow">➤</div></a>
        <div class="dropdown-bala"></div>
        <div class="dropdown-content-property-new">
            <a routerLink="property-new-property" routerLinkActive="active">Property</a>
            <a routerLink="property-new-permit" routerLinkActive="active">Permit</a>
            <a routerLink="property-new-service" routerLinkActive="active">Service Request</a>
            <div class="dropdown-property-new-inspection">
            <a href="#">Inspection <div class="arrow">➤</div></a>
            <div class="dropdown-bala">
            <div class="dropdown-content-property-new-inspection">
                <a routerLink="property-new-inspection-service" routerLinkActive="active">Service Request</a>
                <a routerLink="property-new-inspection-real" routerLinkActive="active">Real Estate</a>
                <a routerLink="property-new-inspection-rental" routerLinkActive="active">Rental</a>
                <a routerLink="property-new-inspection-general" routerLinkActive="active">General</a>
            </div>
            </div>
            </div>
            <a routerLink="property-new-business" routerLinkActive="active">Business License</a>
        </div>
        </div>
    </div>
    </div>
    <div class="dropdown-vehicle">
    <a href="#" mat-button class="vehicle"><mat-icon>commute</mat-icon><br>Vehicle<br><mat-icon>arrow_drop_down</mat-icon></a>
    <div class="dropdown-content-vehicle">
        <div class="dropdown-vehicle-search">
        <a href="#">Search <div class="arrow">➤</div></a>
        <div class="dropdown-bala">
        <div class="dropdown-content-vehicle-search">
            <a routerLink="vehicle-search-sticker" routerLinkActive="active">Sticker</a>
            <a routerLink="vehicle-search-exemption" routerLinkActive="active">Exemption</a>
        </div>
        </div>
        </div>
        <div class="dropdown-vehicle-new">
        <a href="#">New <div class="arrow">➤</div></a>
        <div class="dropdown-bala">
        <div class="dropdown-content-vehicle-new">
            <a routerLink="vehicle-new-sticker" routerLinkActive="active">Sticker</a>
            <a routerLink="vehicle-new-exemption" routerLinkActive="active">Exemption</a>
        </div>
        </div>
        </div>
    </div>
    </div>
    <div class="dropdown-violation">
    <a href="#" mat-button class="violation"><mat-icon>construction<br></mat-icon><br>Violation<br><mat-icon>arrow_drop_down</mat-icon></a>
    <div class="dropdown-content-violation">
        <div class="dropdown-violation-search">
        <a href="#">Search <div class="arrow">➤</div></a>
        <div class="dropdown-bala">
        <div class="dropdown-content-violation-search">
            <a routerLink="violation-search-violation" routerLinkActive="active">Violation</a>
            <a routerLink="violation-search-docket" routerLinkActive="active">Docket</a>
        </div>
        </div>
        </div>
        <div class="dropdown-violation-new">
        <a href="#">New <div class="arrow">➤</div></a>
        <div class="dropdown-bala">
        <div class="dropdown-content-violation-new">
            <a routerLink="violation-new-parking" routerLinkActive="active">Parking</a>
            <a routerLink="violation-new-compliance" routerLinkActive="active">Compliance</a>
            <a routerLink="violation-new-local" routerLinkActive="active">Local Ordinance</a>
            <a routerLink="violation-new-building" routerLinkActive="active">Building Code</a>
            <a routerLink="violation-new-tow" routerLinkActive="active">Tow</a>
        </div>
        </div>
        </div>
        <div class="dropdown-violation-bulk_update">
        <a href="#">Bulk Update <div class="arrow">➤</div></a>
        <div class="dropdown-bala">
        <div class="dropdown-content-violation-bulk_update">
            <a routerLink="violation-bulk-hearing" routerLinkActive="active">Hearing Results</a>
            <a routerLink="violation-bulk-general" routerLinkActive="active">General</a>
        </div>
        </div>
        </div>
        <a routerLink="violation-run" routerLinkActive="active">Run Daily Process</a>
        <a routerLink="violation-collection" routerLinkActive="active">Collection Export</a>
        <a routerLink="violation-expunge" routerLinkActive="active">Expunge</a>
        <a routerLink="violation-boot" routerLinkActive="active">Boot/Tow</a>
        <a routerLink="violation-payment" routerLinkActive="active">Payment Import</a>
    </div>
    </div>
    <div class="dropdown-report">
    <a href="#" mat-button class="report"><mat-icon>summarize</mat-icon><br>Report/Notice<br><mat-icon>arrow_drop_down</mat-icon></a>
    <div class="dropdown-content-report">
        <a routerLink="report-notice" routerLinkActive="active">Notice</a>
        <div class="dropdown-report-report">
        <a href="#">Report <div class="arrow">➤</div></a>
        <div class="dropdown-bala">
        <div class="dropdown-content-report-report">
            <a routerLink="report-report-admin" routerLinkActive="active">Admin/Metrics</a>
            <a routerLink="report-report-business" routerLinkActive="active">Business and People</a>
            <a routerLink="report-report-finance" routerLinkActive="active">Finance</a>
            <a routerLink="report-report-property" routerLinkActive="active">Property</a>
            <a routerLink="report-report-vehicle" routerLinkActive="active">Vehicle</a>
            <a routerLink="report-report-violation" routerLinkActive="active">Violation</a>
            <a routerLink="report-report-print" routerLinkActive="active">Print Inspector Schedule</a>
            <a routerLink="report-report-post" routerLinkActive="active">Post Hearing Docket</a>
            <a routerLink="report-report-history" routerLinkActive="active">Violation History</a>
        </div>
        </div>
        </div>
        <a routerLink="report-audit" routerLinkActive="active">Audit Trial</a>
    </div>
    </div>
    <div class="dropdown-setup">
    <a href="#" mat-button class="setup"><mat-icon>settings</mat-icon><br>Setup<br><mat-icon>arrow_drop_down</mat-icon></a>
    <div class="dropdown-content-setup">
        <div class="dropdown-setup-user">
        <a href="#">User <div class="arrow">➤</div></a>
        <div class="dropdon-bala">
        <div class="dropdown-content-setup-user">
            <a routerLink="setup-user-role" routerLinkActive="active">Role & Permission</a>
            <a routerLink="setup-user-system" routerLinkActive="active">System Users</a>
        </div>
        </div>
        </div>
        <div class="dropdown-setup-property">
        <a href="#">Property <div class="arrow">➤</div></a>
        <div class="dropdown-bala">
        <div class="dropdown-content-setup-property">
            <a routerLink="setup-property-contractor" routerLinkActive="active">Contractor License</a>
            <a routerLink="setup-property-data" routerLinkActive="active">Data Setup</a>
        </div>
        </div>
        </div>
        <div class="dropdown-setup-configuration">
        <a href="#">Configuration <div class="arrow">➤</div></a>
        <div class="dropdown-bala">
        <div class="dropdown-content-setup-configuration">
            <a routerLink="setup-configuration-auto" routerLinkActive="active">Auto Assign Numbers</a>
            <a routerLink="setup-configuration-general" routerLinkActive="active">General</a>
            <a routerLink="setup-configuration-resident" routerLinkActive="active">Resident Message</a>
            <a routerLink="setup-configuration-system" routerLinkActive="active">System Link</a>
            <a routerLink="setup-configuration-collection" routerLinkActive="active">Collection Setup</a>
        </div>
        </div>
        </div>
        <div class="dropdown-setup-inspection">
        <a href="#">Inspection <div class="arrow">➤</div></a>
        <div class="dropdown-bala">
        <div class="dropdown-content-setup-inspection">
            <a routerLink="setup-inspection-inspection" routerLinkActive="active">Inspection Types</a>
        </div>
        </div>
        </div>
        <div class="dropdown-setup-permit">
        <a href="#">Permit <div class="arrow">➤</div></a>
        <div class="dropdown-bala">
        <div class="dropdown-content-setup-permit">
            <a routerLink="setup-permit-permit" routerLinkActive="active">Permit Types</a>
        </div>
        </div>
        </div>
        <div class="dropdown-setup-violation">
        <a href="#">Violation <div class="arrow">➤</div></a>
        <div class="dropdown-bala">
        <div class="dropdown-content-setup-violation">
            <a routerLink="setup-violation-date" routerLinkActive="active">Hearing Date</a>
            <a routerLink="setup-violation-officer" routerLinkActive="active">Hearing Officer</a>
            <a routerLink="setup-violation-fine" routerLinkActive="active">Fine Class</a>
            <a routerLink="setup-violation-offense" routerLinkActive="active">Offense</a>
            <a routerLink="setup-violation-violation" routerLinkActive="active">Violation Workflow</a>
        </div>
        </div>
        </div>
        <div class="dropdown-setup-document">
        <a href="#">Document <div class="arrow">➤</div></a>
        <div class="dropdown-bala">
        <div class="dropdown-content-setup-document">
            <a routerLink="setup-document-template" routerLinkActive="active">Template</a>
            <a routerLink="setup-document-document" routerLinkActive="active">Document Map</a>
        </div>
        </div>
        </div>
        <a routerLink="setup-report" routerLinkActive="active">Report</a>
        <div class="dropdown-setup-exemption">
        <a href="#">Exemption <div class="arrow">➤</div></a>
        <div class="dropdown-bala">
        <div class="dropdown-content-setup-exemption">
            <a routerLink="setup-exemption-form" routerLinkActive="active">Exemptions Form Setup</a>
            <a routerLink="setup-exemption-limit" routerLinkActive="active">Exemptions Limit</a>
            <a routerLink="setup-exemption-custom" routerLinkActive="active">Custom Events & Holidays</a>
        </div>
        </div>
        </div>
        <div class="dropdown-setup-business_license">
        <a href="#">Business License <div class="arrow">➤</div></a>
        <div class="dropdown-bala">
        <div class="dropdown-content-setup-business_license">
            <a routerLink="setup-business-fee" routerLinkActive="active">Fee Setup</a>
            <a routerLink="setup-business-form" routerLinkActive="active">Form</a>
            <a routerLink="setup-business-task" routerLinkActive="active">Task</a>
            <a routerLink="setup-business-work" routerLinkActive="active">Work Flow</a>
        </div>
        </div>
        </div>
        <a routerLink="setup-data" routerLinkActive="active">Data Maintenance</a>
    </div>
    </div>
    <p class="login">Logged in as:</p><a href="#" mat-raised-button class="admin">Admin Admin</a>
    <div id="calendar">
    <a href="#" mat-button class="calendar"><mat-icon>edit_calendar</mat-icon></a>
    </div>
    <a href="#" mat-button class="shopping"><mat-icon>shopping_cart</mat-icon></a>
    <p class="dollar">$0.00</p>
    <a href="#" mat-raised-button class="logout">Logout</a>
</mat-toolbar>

<router-outlet></router-outlet>