#fieldset
{
    background-color: whitesmoke;
    width: 40%;
    border: 1px black solid;
    margin-left: 70px;
}
.department
{
    display: block;
    float: left;
    margin-left: 10px;
}
.inspection_group
{
    float: right;
    margin-right: 10px;
}
.inspection_type
{
    display: block;
    float: left;
    margin-left: 10px;
}
.status
{
    float: right;
    margin-right: 10px;
}
.street_number
{
    display: block;
    float: left;
    margin-left: 10px;
}
.street_name
{
    float: right;
    margin-right: 10px;
}
.inspection
{
    display: block;
    float: left;
    margin-left: 10px;
}
.inspector
{
    float: right;
    margin-right: 10px;
}
.new_inspection
{
    background-color: blue;
    margin: 20px;
    color: skyblue;
    float: left;
}
.search
{
    background-color: blue;
    color: white;
    margin-top: 20px;
    margin-left: 40px;
    float: left;
}
.clear
{
    background-color: grey;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
}
.fieldset1
{
    background-color: skyblue;
    width: 40%;
    border: 1px black solid;
    margin-left: 70px;
}
.fieldset2
{
    margin-top: -444px;
    width: 35%;
    float: right;
    margin-right: 70px;
}
ul li
{
    list-style-type: none;
}
.business-views
{
    border: 1px solid black;
    background-color: lightslategrey;
    width: 100%;
}
ul li a
{
    text-decoration: none;
    color: black;
    font-size: medium;
}
hr
{
    width: 350px;
    color: black;
}
.business
{
    margin-top: 14px;
}
.heading
{
    margin-left: 70px;
}
.permits
{
    margin-top: 14px;
}

