<h2>Search Service Providers</h2>
<form>
    <fieldset>
        <div class="service-provider-box">
    <p>
        <legend>Service Providers</legend>
        <label for="service-type">Service Provider Type</label>
            <select name="service-type" id="service-type">
                <option value=""></option>
                <option value="Account Manager">Account Manager</option>
                <option value="Attorney">Attorney</option>
                <option value="Condominium Association">Condominium Association</option>
                <option value="Contractor">Contractor</option>
                <option value="Elevator Company">Elevator Company</option>
                <option value="Fire Alarm Company">Fire Alarm Company</option>
                <option value="Home Owner Association">Home Owner Association</option>
                <option value="Management Company">Management Company</option>
                <option value="Scavenger Company">Scavenger Company</option>
                <option value="Security Company">Security Company</option>
                <option value="Tow Company">Tow Company</option>
                <option value="Trust">Trust</option>
                <option value="Vending Company">Vending Company</option>
            </select>
        </p>
    <p>
        <label for="contractor-type">Contractor Type</label>    
            <select>
                <option type="checkbox"><input type="checkbox" name="AIR DUCT CLEANING[]" value="AIR DUCT CLEANING">AIR DUCT CLEANING</option>
                <option type="checkbox"><input type="checkbox" name="ALUMCVRS[]" value="ALUMCVRS">ALUMCVRS</option>
            </select>
    </p>
        </div>
    </fieldset>
</form>