<h3>Service Provider</h3>
    <form>
        <fieldset id="service-provider-box">
        <div class="company-name">
        <label for="company_name">Company Name</label><br>
        <input type="text" id="company_name" name="company_name">
        </div>
        <div class="service-provider">
        <label for="service_provider">Service Provider</label><br>
        <input type="text" id="company_name" name="company_name">
        </div>
        <br>
        <div class="address">
        <label for="address">Address</label><br>
        <input type="text" id="address" name="address">
        </div>
        <div class="">

        </div>
        </fieldset>
    </form>

